/* stylelint-disable */

/* General react-flow styles overriding  */
.react-flow {
  font-family: 'Inter', sans-serif;
}

.react-flow__edge-path {
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 1px;
}

.react-flow__background {
  background: #fff;
}
