/* .react-flow__node-input,
.react-flow__node-output {
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.react-flow__node-input {
  background-color: #ffb4b4;
}

.react-flow__node-output {
  background-color: #ABDCB9;
} */
