.root {
  max-width: 400px;
  padding: 24px;
  position: relative;

  .textarea {
    width: 100%;
    resize: none;
    font-size: 20px;
    padding: 10px;
    font-family: sans-serif;
    border-radius: 8px;
    color: transparent;
    caret-color: black;
    position: relative;
    z-index: 2;
    background-color: transparent;
  }

  .coloredValue {
    font-size: 20px;
    padding: 10px;
    font-family: sans-serif;
    border-radius: 8px;
    position: absolute;
    top: 24.5px;
    left: 24.5px;
    right: 0;
    word-break: break-all;
    z-index: 1;
    user-select: none;
  }

  .suggestBox {
    width: 400px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  mark {
    background-color: #ABDCB9;
  }
}
