@keyframes dash {
  to {
    background-position:
      100% 0%,
      0% 100%,
      0% 0%,
      100% 100%;
  }
}

@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

.edge-animation {
  background: linear-gradient(90deg, rgba(0 0 0 / 50%) 50%, transparent 50%),
    linear-gradient(90deg, rgba(0 0 0 / 50%) 50%, transparent 50%),
    linear-gradient(0deg, rgba(0 0 0 / 50%) 50%, transparent 50%),
    linear-gradient(0deg, rgba(0 0 0 / 50%) 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size:
    14px 2px,
    14px 2px,
    2px 14px,
    2px 14px;
  background-position:
    0% 0%,
    100% 100%,
    0% 100%,
    100% 0%;
  border-radius: 5px;
  animation: dash 2s linear infinite;
}
