.root {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  /* textarea {
    color: transparent;
    position: relative;
    z-index: 2;
    caret-color: red;
  } */

  .coloredValue {
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding: 16.5px 14px;
    border-radius: 8px;
    position: absolute;
    top: 0.5px;
    left: 0.5px;
    right: 0;
    word-break: break-word;
    color: #5f6d7e;

    /* z-index: 0; */
    user-select: none;
    letter-spacing: 0;

    /* uncomment when colors be ready; */
    display: none;
  }

  .suggestBox {
    width: 400px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    z-index: 3;
  }

  mark {
    background-color: #abdcb9;
  }
}
