.root {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  .textarea {
    resize: none;
    // uncomment when colors be ready
    //color: transparent;
    caret-color: black;
    position: relative;
    z-index: 2;
    background-color: transparent;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 14px;
    border-radius: 8px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    border: 0;
    letter-spacing: 0;
    color: #5f6d7e;
    border: 1px solid rgba(0, 0, 0, 0.23);

    &::placeholder {
      color: rgba(0, 0, 0, 0.3);
    }

    &:hover:not(.error) {
      outline: 1px solid #5f6d7d; //primary color
      outline-offset: -1px;
    }

    &:focus:not(.error) {
      outline: 2px solid #2e3646; //dark color
      outline-offset: -1px;
    }

    &.error {
      outline: 1px solid #e24a4a; // error
      outline-offset: -1px;
      &:focus {
        outline: 2px solid #e24a4a; // error
      }
    }
  }

  .errorText {
    color: #e24a4a;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    font-family: Inter, sans-serif;
    text-align: left;
    margin-top: 4px;
    margin-right: 14px;
    margin-bottom: 0;
    margin-left: 14px;
  }

  .coloredValue {
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 14px;
    border-radius: 8px;
    position: absolute;
    top: 0.5px;
    left: 0.5px;
    right: 0;
    word-break: break-word;
    color: #5f6d7e;
    z-index: 1;
    user-select: none;
    letter-spacing: 0;

    // uncomment when colors be ready
    display: none;
  }

  .suggestBox {
    width: 400px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    z-index: 3;
  }

  mark {
    background-color: #abdcb9;
  }
}
